
/* top Navbar */
.top-nav {
    justify-content: space-evenly;
    margin-top: 10px;
    z-index: 1;
}
.header-wrap {
    margin: 0 !important;
    
}


.logo-part {
    
    padding-left: 26px;
}

.call-number {
    margin-top: 10px;
    line-height: 0;
    color: rgb(255, 184, 4);
    
}

.call-icon{
    margin-left: 5px;
}

.bkash-part {
    margin-top: -12px;
}
.number {
    color: rgb(255, 184, 4);
    font-weight: 700;
    font-size: 12px;
    margin-left: -8px;
    
}

.bkash-number {
    width: 50px;
    line-height: 0;
}
.bkash-number img{
    margin-left: -8px;
}
.bkash-number span{
    margin-right: 0px;
}

.input-filed {
    width: 90%;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
}

.search-icon {
    position: absolute;
    padding: 10px 15px;
    background-color: rgb(255, 184, 4);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 40px;

}

/* account part */
.account-profile {
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-left: -25px;

}

.account-part {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #fff;
    border-radius: 5px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0px 12px;
    text-decoration: none !important;
    display: block;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    
}

.dropdown-content a:hover {
    background-color: rgb(255, 184, 4);
    color: white;
}

.sign-up {
    padding-top: 5px !important;
}

.account-profile:hover .dropdown-content {
    display: block;
}
/* Desktop Menu */
.desktop-menu{
    width: 100%;
    border-top: 1px dotted #c8c2c2;

}
.desktop-menu-list li{
    list-style: none;
}
.desktop-menu-list li a{
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   font-size: 1rem;
   color: black;
   padding: 5px 12px;
   border-radius: 3px;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.desktop-menu-list li a:hover{
    background-color: rgb(255, 184, 4);
    color: white;
}
.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 5px 16px !important;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(255, 184, 4);
    color: white;
}


/* category part */
.category-main{
    
    border-right: 1px solid rgb(255, 184, 4);
}
.side-category{
    position: relative;
    display: inline-block;
    
}
.side-category:hover .side-nav-list a, .arrow-icon{
    color: white;
}
.side-category li{
    list-style: none;
}
.category-content {
    display: none;
    position: absolute;
    top: 0px;
    left: 230px;
    background-color: #fff;
    border-radius: 5px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-bottom: 20px;
}

.side-category:hover .category-content{
    display: block;
    
}

.side-category:hover .arrow-icon{
    display: block;
}
.side-nav-list{
    padding-right: 180px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.side-nav-list .side-nav-name{
    width: 300px;    
}
.side-nav-name a:hover{
    color: white !important;
}
.side-nav-name a{
    text-decoration: none !important;
    color:black;
    text-decoration: none;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    
}

.side-category:hover .side-nav-list {
    background-color: rgb(255, 184, 4);
    
}

.category-content a {
    color: black;
    padding: 5px 20px;
    text-decoration: none !important;
    display: block;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-left: 1px solid rgb(255, 184, 4) !important;

}

.category-content a:hover {
    text-decoration: underline !important;
    color: black;
}
.arrow-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 200px;
    font-weight: 900;
}


#page-content{
    background-color: #eeeeee66;
  
}
.all-category{
    background-color: white;
    margin-top: 130px;
    padding-top: 24px;
    padding-bottom: 24px;
 
}


.dropdwon-icons{
    width: 18px;
    height: 18px;
    color: #d9dde5;
  
}

/* category left part*/
.image-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.image-part img {
    height: 400px;


}

.image-1 {
    padding-left: 20px !important;
  }

.image-2 {
    padding-left: 5px !important;
}


/* Responsive */
@media only screen and (min-width: 1200px) {
    .logo-part {
            margin-top: 10px !important;
            padding-left: 40px !important;
        }
    .all-category{
        margin-top: 130px !important;
    }
    .header-section {
            padding-top: 15px;
            
        }
    .desktop-menu{
        margin-top: 0 !important;
        
    }
    
   .category-main {
        display: block !important;
    }
    .image-1{
        padding-left: 20px;
        padding-right: 0px !important;
    }
    .image-2 {
            display: block !important;
        }
    .search-icon {
        top: 10px;
        right: 95px !important;

    }
        .input-filed {
            width: 80% !important;
        }

}

@media only screen and (min-width: 768px) {
    .logo-part {
            margin-top: 20px;
            padding-left: 10px;
        }
    .all-category{
        margin-top: 100px;
        padding-bottom: 10px;
    }
    .desktop-menu{
        margin-top: 10px;
    }
    .desktop-menu-list {
            
            margin-top: 10px;
        }
    .category-main{
            display: none;
        }
        

    .image-1 {
            padding-right:20px;
           
        }
    .image-2 {
         display: none;
        }
    .header-section {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: white;
        top: 0;
        border-bottom: 1px dotted #c8c2c2;
    }
    .search-icon {
            top: 10px;
            right: 0px;
        }
   .input-filed{
    width: 100%;
   }

   .mobile-menu {
       top: 15px !important;
       right: 10px;
   }

}
@media only screen and (max-width: 576px) {
    .logo-part {
            margin-top: 10px !important;
            padding-left: 10px !important;
            margin-left: 2px !important;
        }
    .desktop-menu{
        display: none;
    }
        
    .category-main{
        display: none ;
    }
    .image-1{
        padding-left: 0 !important;
        padding-right: 0 !important;
        
    }
    .image-2{
        display: none;
        
    }
    .search-area {
        position: absolute;
        top: 100px;
        width: 100%;
    }

    .contact-us {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: -20px;
        
    }
    
    .bkash-part {
        margin-top: 10px;
        margin-left: 4px;
    }

   
    .header-section {
        position: fixed;
        z-index: 1;
        background-color: white;
        top: 0;
    }

    .logo-part {
        width: 100px;
        margin-left: -20px;

    }

    .account-part {
        position: fixed;
        top: 10px;
        right: 50px;
        background-color: white;

    }
    .account-part p{
        display: none;
    }

    .search-icon {
        top: 10px;
        right: 30px;

    }
    .all-category{
        padding: 0;
    }
    .image-part img {
        height: 200px;

    }
    .feature-collection {
      margin: 0 0px !important;
    }
        .new-arraivals {
            margin: 0 0px !important;
        }
        .newsletter-section .input-group__btn{
            display: inline-table;
        }
}

.mobile-menu{
    position: absolute;
    top: 10px;
    right: 20px;
}

hr{
    
    background-color: #fdefca;
}

/* Product Design */

.product-part{
    background-color: white;
}
.feature-collection{
    margin: 0 48px;
}
.new-arraivals{
    margin: 0 48px;
}
.addToCart-button{
    background-color:rgb(255, 184, 4) !important;
    color: white !important;
}
.addToCart-button:hover{
    background-color:rgb(255, 100, 0) !important;
    color: white !important;
    opacity: 1 !important;
}
.btn{
    padding: 0.1rem 0.75rem !important;
}
.plus-icon:hover{
    background-color: rgb(255, 100, 0) !important;
}
.wishlist-btn:hover{
background-color: rgb(255, 100, 0) !important;
}
h3{
    text-transform: uppercase;
}

/* news letter */
.newsletter-button{
    background-color: rgb(255, 184, 4) !important;
}
.newsletter-button:hover{
    background-color: rgb(255, 100, 0) !important;
}

.newsletter-section{
    border: none !important;
    
}

.site-info {
    background-color: rgb(255, 184, 4);
}
.main-footer{
    background-color:rgb(157, 50, 120);
    
}
.footer-links ul li{
    list-style: none;
}
.footer-links ul li a:hover {
    color: white;

}

/* .footer-links ul li a{
    color: black;
}
.footer-links ul li a:hover{
    color: black;
    
}
.contact-box ul li{
list-style: none;

}
.contacts-content{
color: black !important;
}
.addressFooter .icon{
color: black !important;
} */

