
/* top Navbar */
.top-nav {
    justify-content: space-evenly;
    margin-top: 10px;
    border-bottom: 1px solid red;
    z-index: 1;
}
.header-wrap {
    margin: 0 !important;
    
}

.header-wrap .logo-part {
    margin-top: 10px !important;
    padding-left: 26px;
}

.call-number {
    margin-top: 10px;
    line-height: 0;
    color: rgb(255, 184, 4);
    
}

.call-icon{
    margin-left: 5px;
}

.bkash-part {
    margin-top: -12px;
}
.number {
    color: rgb(255, 184, 4);
    font-weight: 700;
    font-size: 12px;
    margin-left: -8px;
    
}

.bkash-number {
    width: 50px;
    line-height: 0;
}
.bkash-number img{
    margin-left: -8px;
}
.bkash-number span{
    margin-right: 0px;
}

.input-filed {
    width: 90%;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
}

.search-icon {
    position: absolute;
    padding: 10px 15px;
    background-color: rgb(255, 184, 4);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 40px;

}

/* account part */
.account-profile {
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;

}

.account-part {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #fff;
    border-radius: 5px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none !important;
    display: block;
    font-weight: 500;
}

.dropdown-content a:hover {
    background-color: rgb(255, 184, 4);
    color: white;
}

.sign-up {
    padding-top: 5px !important;
}

.account-profile:hover .dropdown-content {
    display: block;
}
/* Desktop Menu */
.desktop-menu{
    width: 100%;
    border-top: 1px dotted #c8c2c2;

}
.desktop-menu-list li{
    list-style: none;
}
.desktop-menu-list li a{
   text-decoration: none;
   font-size: 1rem;
   color: black;
   padding: 5px 12px;
   border-radius: 3px;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.desktop-menu-list li a:hover{
    background-color: rgb(255, 184, 4);
    color: white;
}
.dropbtn {
    
    color: black;
    
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
    border-radius: 3px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(255, 184, 4);
    color: white;
}


/* category part */
.category-part{
 margin-top: 140px;
 padding-top: 20px;
}

.nav-item{
    display: flex !important;
    
}

.nav-link{
    cursor: default;
    z-index: 0;
    color: black;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    
    
}

.category-nav span{
    cursor: pointer !important;
    font-weight: 500;
    padding-right:125px;
}
.category-nav a{
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

}
.list-of-category {
    padding-right: 98px;
}
.category-nav{
    padding-left: 10px;
    line-height: 0;
    padding-right: 0!important;
     
}
 .category-right {
    border-right: 1px solid rgb(255, 184, 4);
    border-radius: 2px;
    padding-right: 0 !important;
    padding-left: 0 !important;
       
 }
 .category-right:hover{
    border: none;
 }
.navbar{
    padding: 5px 0 !important;
}

.navbar-collapse{
     max-width: 300px !important;
   
}

.dropdwon-icons{
    width: 18px;
    height: 18px;
    color: #d9dde5;
  
}
.arrow-icon{
    width: 12px;
    height: 12px;
    display: none;
    position: absolute;
    top: 10px;
    left: 250px;    
}

#dropdown-menu-position .dropdown-list{
    position:absolute;
    left: 280px;
    top: -5px;
    padding-bottom: 100px;
    border-left: 1px solid rgb(255, 184, 4) !important;
  
}
.position-1 span{
    top: -10px;
}
.dropdown-list{
    border: none !important;
   
}
.dropdown-menu a:hover{
    text-decoration:underline !important;
    
}
.navbar .navbar-expand {
    margin-left: 0 !important;
    padding-left: 0 !important;
}


/* category left part*/
.image-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.image-part img {
    height: 400px;


}

.image-1 {

    padding-left: 20px !important;
    padding-right: 0 !important;

}

.image-2 {
    padding-left: 5px !important;
}


/* Responsive */
@media only screen and (min-width: 1200px) {
    .header-wrap .logo-part {
            margin-top: 5px !important;
            padding-left: 20px !important;
        }
    .header-section {
            padding-top: 15px;
        }
    .category-part{
        padding-top: 20px !important;
    }
   .category-right {
        display: block !important;
    }
    .image-1{
        padding-left: 20px;
    }
    .image-2 {
            display: block !important;
        }
    .search-icon {
        top: 10px;
        right: 15px !important;

    }

}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
  
    .navbar .nav-item .category-nav:hover{
         background-color:rgb(255, 184, 4);
                           
        }
  
        .navbar .nav-item .category-nav
        a:hover {
            color: white;
       
    
        }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
        
    }
    .navbar .nav-item:hover .arrow-icon {
        display: inline-block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) {
    .header-wrap .logo-part {
            margin-top: 15px ;
            padding-left: 10px;
        }
    .desktop-menu{
        margin-top: 10px;
    }
    .desktop-menu-list {
            
            margin-top: 10px;
        }
    .category-right {
            display: none;
        }
        .category-part{
            padding-top: 0;
        }

    /* .image-1 {
            padding-left:  0 !important;
        } */
    .image-2 {
         display: none;
        }
    .header-section {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: white;
        top: 0;
        border-bottom: 1px dotted #c8c2c2;
    }
    .search-icon {
            top: 10px;
            right: 0px;
        }
   .input-filed{
    width: 100%;
   }

   .mobile-menu {
       top: 15px !important;
       right: 10px;
   }

}
@media only screen and (max-width: 576px) {
    .header-wrap .logo-part {
            margin-top: 10px !important;
            padding-left: 10px !important;
        }
    .desktop-menu{
        display: none;
    }
    .category-right{
        display: none ;
    }
    .image-1{
        padding-left: 0 !important;
    }
    .image-2{
        display: none;
        
    }
    .search-area {
        position: absolute;
        top: 100px;
        width: 100%;
    }

    .contact-us {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .bkash-part {
        margin-top: 10px;
    }

   
    .header-section {
        position: fixed;
        z-index: 1;
        background-color: white;
        top: 0;
    }

    .logo-part {
        width: 100px;

    }

    .account-part {
        position: fixed;
        top: 10px;
        right: 50px;
        background-color: white;

    }
    .account-part p{
        display: none;
    }

    .search-icon {
        top: 10px;
        right: 30px;

    }
}

.mobile-menu{
    position: absolute;
    top: 10px;
    right: 10px;
}

hr{
    
    background-color: #fdefca;
}

/* Product Design */
.add-button{
    background-color:rgb(255, 184, 4) !important;
    color: white !important;
}